{{#is  "page"}}
<div class="space-y-4 group">
    <img
        src="{{feature_image}}"
        alt="cover"
        loading="lazy"
        class="relative object-cover object-top w-full h-96 rounded-xl"
    />
    <div class="space-y-2">
        <div class="space-y-4">
            <h4 class="text-2xl font-semibold text-gray-700"><a
                    href="{{url}}"
                    class=""
                >{{title}}</a></h4>
            {{#if custom_excerpt}}
                <p class="text-gray-600 line-clamp-3">{{custom_excerpt}}</p>
            {{/if}}
        </div>
    </div>
    <a
        href="{{url}}"
        class="block font-semibold leading-loose underline transition duration-200 w-max underline-offset-8 lg:w-auto"
    >Zobacz więcej</a>
</div>
{{else}}
<div class="space-y-4 group">
    <img
        src="{{feature_image}}"
        alt="cover"
        loading="lazy"
        class="relative object-cover object-top w-full h-96 rounded-xl"
    />
    <div class="space-y-2">
        <p class="">Realizacja dla firmy
            <span class="font-bold">{{tags from="2" to="2"}}</span></p>
        <div class="space-y-4">
            <h4 class="text-2xl font-semibold text-gray-700"><a
                    href="{{url}}"
                    class=""
                >{{title}}</a></h4>
            {{#if custom_excerpt}}
                <p class="text-gray-600 line-clamp-3">{{custom_excerpt}}</p>
            {{/if}}
        </div>
    </div>
    <a
        href="{{url}}"
        class="block font-semibold leading-loose underline transition duration-200 w-max underline-offset-8 lg:w-auto"
    >Zobacz więcej</a>
</div>
{{/is}}