{{!< default}}
<section class="pt-16 overflow-hidden pb-44">
    <div class="container px-4 mx-auto">
        <div class="mx-auto text-center md:max-w-xl">
            <h2
                class="mb-5 text-6xl text-gray-900 font-heading sm:text-8xl xl:text-10xl"
            >{{statusCode}}
            </h2>
            <p class="mb-10 text-lg text-gray-600">{{message}}</p>

            <button
                class="inline-block w-full px-8 py-3 mb-3 leading-loose text-white transition duration-200 shadow-2xl lg:mb-0 lg:w-auto bg-secondary hover:bg-black"
            >
                <div
                    class="absolute top-0 left-0 w-full h-full transition duration-500 ease-in-out transform -translate-x-full group-hover:-translate-x-0 bg-gradient-cyan"
                >
                </div>
                <a href="{{@site.url}}" class="relative z-10">Strona główna</a>
            </button>

        </div>
    </div>

    {{#if errorDetails}}

        <section>
            <h4>Theme errors:</h4>
            <ul>
                {{#foreach errorDetails}}
                    <li>
                        <h5>{{{rule}}}</h5>

                        {{#foreach failures}}
                            <span><strong>Ref:</strong> {{ref}}</span><br />
                            <span><strong>Message:</strong> {{message}}</span>
                        {{/foreach}}
                    </li>
                {{/foreach}}
            </ul>
        </section>
    {{/if}}
</section>